.timezone-map polygon[data-selected='true'] {
    fill: #ff2e2e;
    stroke: red;
    stroke-width: 1px;
    z-index: 10000000000;
}

.timezone-map polygon {
    fill: #ff5454;
}

.timezone-map polygon:hover {
    fill: #8a3e3e;
    cursor: pointer;
}
