.timezone-map polygon[data-selected='true'] {
    fill: #ff2e2e;
    border: 2px solid #ff0000;
    border-radius: 2px;
}

.timezone-map polygon {
    fill: #ff5454;
}

.timezone-map polygon:hover {
    fill: #8a3e3e;
    cursor: pointer;
}
